*{
    
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    
}
.container{
    width: 100%;
    height:100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}
.nav-bar{
    width: 100%;
    padding: 0 60px;
    padding-top:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 40px;
    cursor: pointer;
}
.logo span{
    color:firebrick;
}
nav ul li{
    display: inline;
}
nav ul a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color:white;
    margin: 0 12px;
}
nav ul a:hover{
    color:deeppink
}
.active{
    color: firebrick;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
}
.info{
    font-size: 10px;
}
.info p{
    font-size: 15px;
    margin-top: 20px;
    text-align: left;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 8px 30px;
    border-radius: 4px;
    font-size: 18px;
    background-color: firebrick;
}
.content-img img{
    width:300px;
    border-radius: 3rem;
}
button:hover{
    background-color: aqua;
}
.info span{
    color:firebrick;
}
@media only screen and (max-width:500px)
{
    .container{
        height: 100%;
    }
    .nav-bar{
        padding: 12px 20px;
    }
    .content{
        flex-direction: column;
        padding: 0;
    }
    .info{
        padding: 0 30px;
        margin-top:40px;
    }
    .info h2{
        font-size: 20px;
    }
    .info h1{
        font-size: 48px;
        margin: 8px 0;
    }
.content-img img{
    width: 350px;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        padding-top: 50px;
        z-index: 1;
        background-color: dimgray;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        text-align: center;
        
    }
    nav img{
        display: block;
        width: 35px;
        background-color: white;
        cursor: pointer;
    }
    nav ul li a{
        font-size: 20px;
        font-weight: 900;
    }
    }
footer{
    background-color: black;
    text-decoration: none;
    padding: 0px;
    text-align: right;
}
footer a{
    text-decoration: none;
    color: red;
    
}
